*{
    padding: 0px !important;
    margin: 0px !important;
    box-sizing: border-box !important;
    font-family: 'Nunito', sans-serif !important;
    font-size: 1rem;
    color: rgb(65, 64, 64);
}
.bg-white{
    border-radius: 15px;
}
a{
    text-decoration: none;
}
body{
    background-color: rgb(243, 242, 242);
}
.mt-4{
    margin-top: 1.6rem !important;
}
.mt-5{
    margin-top: 1.9rem !important;
}
.mt-6{
    margin-top: 2.8rem !important;
}
.me-2{
margin-right: 0.8rem !important;
}
.ms-2{
 margin-left: 0.8rem !important;
}
.mb-6{
    margin-bottom: -2rem !important;
}

dd{
    color: rgb(113, 110, 110);
    font-size: 0.6rem;
}
dd a{
    font-size: 0.6rem;
}

dt,th,.card-title{
    color: rgba(35, 34, 34, 0.863);
    font-weight: 900;
    font-size: 0.8rem;
}
th{
    color: black;
    font-size: 0.8rem;
    font-weight: 900 !important;
}

 .line {
     width: 5px;
 background-color: lightgrey !important;
}
.lead {
     font-size: 1.1rem;
     }
.bg-gray{
    background-color: rgb(243, 242, 242);
}
.h4{
    font-weight: 900 !important;
}
@media only screen and (max-width: 900px) {
    /* mobile hedding*/
    .mb-h{
        font-size: 0.6rem !important;
        font-weight: 500 !important;
    }
    /* mobile body */
    .mb-b{
        font-size: 0.3rem;
        font-weight: 400;
    }
    .p-5{
        padding:5% !important;
    }
    .p-4{
        padding:4% !important;
    }
    .p-3{
        padding:3% !important;
    }
    .p-2{
        padding:2% !important;
    }
    .p-1{
        padding:1% !important;
    }
    .no-border{
        border: none !important;
    }
    .ml{
        margin: 0% !important;
    }
    .mr{
        margin: 0% !important;
    }
    .header{
        font-size: 1rem !important;
        font-weight: 900 !important;
    }
    .fw-bolder{
        font-size: 1.5rem !important;
        font-weight: 900 !important;
    }
    .ms-2{
        margin-left: 0px !important;
    }
    .me-2{
        margin-right: 0px !important;
}
}